In [2]:
import numpy as np 
import numpy.random as random 
import scipy as sp 
from pandas import Series,DataFrame 
import pandas as pd 

import matplotlib.pyplot as plt 
import matplotlib as mpl 
import seaborn as sns 
%matplotlib inline 

import sklearn 

%precision 3

import requests,zipfile 
import io 

import requests,zipfile 
import io 

url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
res = requests.get(url).content

auto = pd.read_csv(io.StringIO(res.decode('utf-8')),header = None)

auto.columns =['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style'
              ,'drive-wheels','engine-location','wheel-base','length','width','height',
              'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio',
              'horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [3]:
auto = auto[['price','horsepower','width','height']]
auto.isin(['?']).sum()

price         4
horsepower    2
width         0
height        0
dtype: int64

In [4]:
auto = auto.replace('?',np.nan).dropna()
print(auto.shape)

(199, 4)

In [5]:
auto.head()

   price horsepower  width  height
0  13495        111   64.1    48.8
1  16500        111   64.1    48.8
2  16500        154   65.5    52.4
3  13950        102   66.2    54.3
4  17450        115   66.4    54.3

In [6]:
from sklearn.linear_model import Ridge ,LinearRegression
from sklearn.model_selection import train_test_split

In [7]:
X = auto.drop('price',axis=1)
y = auto['price']
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size = 0.5,random_state =0)

linear = LinearRegression()
ridge = Ridge(random_state=0)

for model in [linear,ridge]:
    model.fit(X_train,y_train)
    print(model.score(X_train,y_train))
    print(model.score(X_test,y_test))

0.7333575683901379
0.7370688738125767
0.7333547383511863
0.7377676885006832