In [60]:
import pandas as pd 
import seaborn as sns
from sklearn.model_selection import train_test_split 

data=pd.read_table('train.tsv',encoding = 'utf-8')
df = pd.DataFrame(data)

C:\Users\mkou0\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 16 columns):
id                          1588 non-null int64
bot                         1588 non-null int64
statuses_count              1588 non-null int64
default_profile             1588 non-null int64
default_profile_image       1588 non-null int64
friends_count               1588 non-null int64
followers_count             1588 non-null int64
favourites_count            1588 non-null int64
geo_enabled                 1588 non-null int64
listed_count                1588 non-null int64
account_age_hours           1588 non-null int64
diversity                   1588 non-null float64
mean_mins_between_tweets    1588 non-null float64
mean_tweet_length           1588 non-null float64
mean_retweets               1588 non-null float64
reply_rate                  1588 non-null float64
dtypes: float64(5), int64(11)
memory usage: 198.6 KB

In [62]:
df.head()

,id,bot,statuses_count,default_profile,default_profile_image,friends_count,followers_count,favourites_count,geo_enabled,listed_count,account_age_hours,diversity,mean_mins_between_tweets,mean_tweet_length,mean_retweets,reply_rate
0,0,0,715,0,0,423,206,150,1,34,36981,0.684902,3958.863636,97.513514,1.473684,0.504505
1,2,0,2151,0,0,1457,1321,1704,1,90,35603,0.704787,2746.533708,69.988827,3.814815,0.553073
2,3,0,439,0,0,691,213,5,0,15,38432,0.528857,11005.031847,75.101266,1.142857,0.158228
3,7,0,28,1,0,285,31,0,0,1,4898,0.810427,6495.666667,93.029412,3.000000,0.029412
4,12,0,40,0,0,907,60,1013,1,2,47238,0.831579,112167.300000,79.142857,1.000000,0.047619

In [63]:
df.isnull().sum()

id                          0
bot                         0
statuses_count              0
default_profile             0
default_profile_image       0
friends_count               0
followers_count             0
favourites_count            0
geo_enabled                 0
listed_count                0
account_age_hours           0
diversity                   0
mean_mins_between_tweets    0
mean_tweet_length           0
mean_retweets               0
reply_rate                  0
dtype: int64

欠損値なし

In [64]:
df.corr()
print(df.columns)

Index(['id', 'bot', 'statuses_count', 'default_profile',
       'default_profile_image', 'friends_count', 'followers_count',
       'favourites_count', 'geo_enabled', 'listed_count', 'account_age_hours',
       'diversity', 'mean_mins_between_tweets', 'mean_tweet_length',
       'mean_retweets', 'reply_rate'],
      dtype='object')

In [65]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 

X = df[['statuses_count', 'friends_count', 'followers_count',
       'favourites_count', 'listed_count', 'account_age_hours',
       'diversity', 'mean_mins_between_tweets', 'mean_tweet_length',
       'mean_retweets', 'reply_rate']]
y = df['bot']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.6)

#標準化sc 
sc =StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std =sc.transform(X_test)

model = LogisticRegression()
model.fit(X_train_std,y_train)

C:\Users\mkou0\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\mkou0\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:16: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  app.launch_new_instance()
C:\Users\mkou0\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:17: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
C:\Users\mkou0\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [66]:
model.score(X_train_std,y_train)

0.878740157480315

In [67]:
model.score(X_test_std,y_test)

0.8488982161594963

In [68]:
data_test=pd.read_table('test.tsv',encoding = 'utf-8')

C:\Users\mkou0\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [69]:
df_test = pd.DataFrame(data_test)

In [70]:
X_explain=df_test[['statuses_count', 'friends_count', 'followers_count',
       'favourites_count', 'listed_count', 'account_age_hours',
       'diversity', 'mean_mins_between_tweets', 'mean_tweet_length',
       'mean_retweets', 'reply_rate']]

In [71]:
predict = model.predict(X_explain)

In [72]:
predict=pd.DataFrame(predict)

In [73]:
df_test['id']

0          1
1          4
2          5
3          6
4          8
5          9
6         10
7         11
8         13
9         14
10        15
11        17
12        18
13        20
14        22
15        23
16        27
17        29
18        30
19        31
20        33
21        34
22        36
23        37
24        39
25        40
26        41
27        42
28        43
29        44
        ...
1558    3117
1559    3119
1560    3120
1561    3124
1562    3125
1563    3126
1564    3129
1565    3131
1566    3132
1567    3134
1568    3138
1569    3139
1570    3141
1571    3146
1572    3147
1573    3149
1574    3150
1575    3155
1576    3157
1577    3159
1578    3160
1579    3161
1580    3162
1581    3164
1582    3166
1583    3167
1584    3168
1585    3169
1586    3172
1587    3174
Name: id, Length: 1588, dtype: int64

In [74]:
result=pd.concat([df_test['id'],predict],axis=1)
print(result)

        id  0
0        1  0
1        4  0
2        5  1
3        6  0
4        8  0
5        9  1
6       10  0
7       11  0
8       13  0
9       14  0
10      15  0
11      17  0
12      18  0
13      20  0
14      22  0
15      23  0
16      27  0
17      29  1
18      30  0
19      31  0
20      33  0
21      34  0
22      36  0
23      37  0
24      39  0
25      40  1
26      41  0
27      42  1
28      43  0
29      44  0
...    ... ..
1558  3117  0
1559  3119  0
1560  3120  0
1561  3124  0
1562  3125  0
1563  3126  0
1564  3129  0
1565  3131  0
1566  3132  1
1567  3134  0
1568  3138  0
1569  3139  0
1570  3141  0
1571  3146  0
1572  3147  0
1573  3149  0
1574  3150  0
1575  3155  0
1576  3157  0
1577  3159  0
1578  3160  0
1579  3161  0
1580  3162  0
1581  3164  0
1582  3166  0
1583  3167  0
1584  3168  0
1585  3169  0
1586  3172  0
1587  3174  0

[1588 rows x 2 columns]

In [75]:
result.to_csv('./submit.csv',header=False,index=False)